version: 2.1
jobs:
    build-network:
        docker:
            - image: cimg/aws:2022.06
        working_directory: ~/repo 
        steps:
            - checkout
            - run:
                name: create capstone network
                command: |
                    aws cloudformation create-stack --stack-name capnetwork --template-body file://kube_network.yml --region=us-east-1
                    sleep 300
        
    deploy-cluster:
        docker:
            - image: cimg/aws:2022.06
        working_directory: ~/repo
        steps:
            - checkout
            - run:
                name: install eksctl and kubectl
                command: |
                    #installing eksctl
                    curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
                    sudo mv /tmp/eksctl /usr/local/bin
                    eksctl version
                    #installing kubectl
                    curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
                    sudo install -m 0755 kubectl /usr/local/bin/kubectl
                    kubectl version --client 
            - run:
                name: deploy eks cluster via eksctl
                command: |
                    aws --version
                    export psub1=`aws cloudformation describe-stacks --stack-name capnetwork --query "Stacks[0].Outputs[?OutputKey=='PublicSubnet1'].OutputValue" --output text`
                    export psub2=`aws cloudformation describe-stacks --stack-name capnetwork --query "Stacks[0].Outputs[?OutputKey=='PublicSubnet2'].OutputValue" --output text`
                    eksctl create cluster --name capstoneProj --region us-east-1 --vpc-cidr 10.0.0.0/16 --vpc-public-subnets ${psub1},${psub2} --nodegroup-name public-workers --node-type t2.medium --kubeconfig=~/.kube/config
                    kubectl get svc

workflows:
    default:
        jobs:
#            - build-network
            - deploy-cluster
#                requires: [build-network]
