version: 2
jobs:
    build-network:
        docker:
            - image: cimg/aws:2022.06
        working_directory: ~/repo 
        steps:
            - checkout
            - run:
                name: create capstone network
                command: |
                    aws cloudformation create-stack --stack-name capstone_network --template-body file://kube_network.yml --region=us-east-1
        
    deploy-cluster:
        docker:
            - image: cimg/aws:2022.06
        working_directory: ~/repo
        steps:
            - checkout
            - run:
                name: install eksctl and kubectl
                command: |
                    #installing eksctl
                    curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
                    sudo mv /tmp/eksctl /usr/local/bin
                    eksctl version
                    #installing kubectl
                    curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
                    sudo install -m 0755 kubectl /usr/local/bin/kubectl
                    kubectl version --client 
            - run:
                name: deploy eks cluster via eksctl
                command: |
                    eksctl create cluster -f cluster.yaml --kubeconfig=~/.kube/config
                    kubectl get svc

workflow:
    capstone_infra:
        jobs:
            - build-network
            - deploy-cluster:
                requires: build-network
